/* Global */
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
a {
    color: black;
    text-decoration: none;
}

/* Main */
.container {
    width: 100vw;
    height: 100vw;
    background-color: grey;
}

ul {
    list-style: none;
}

.img-font {
    background: url(imgs/pc/banners/img_font.png) no-repeat;
}

/* header block */
.header {
    position: relative;
    height: 64px;
    background-color: #ffffff;
    border-bottom: 1px solid #cdcdcd;
}

.header__logo {
    display: inline-block;
    width: 120px;
    height: 24px;
    margin: 20px 0 0 26px;
    background: url(imgs/pc/logo.png) no-repeat;
    background-size: contain;
}

.header__btn-lnb--mobile {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    width: 40px;
    height: 36px;
    transform: translateY(-50%);
}

.btn-burger {
    width: 40px;
    height: 4px;
    margin: 6px 0;
    background-color: black;
    border-radius: 10px;
}

.btn-burger-center-line {
    background-color: #ffcc56;
}

/* contents block */
.contents {
    display: flex;
    background-color: #f9f9f9;
}

    /* lnb block */
.lnb {
    width: 21vw;
    padding: 5vw 0 0 3vw;
    background-color: white;
}

.lnb li {
    margin-bottom: 10px;
}

.lnb li:first-child {
    margin-bottom: 16px;
}

.lnb li:last-child {
    margin-bottom: 70px;
}

.lnb__cate-title {
    width: 98px;
    height: 17px;
    background-position: -173px 0;
}

.lnb__cate01 {
    width: 70px;
    height: 15px;
    background-position: -302px 0;
}

.lnb__cate02 {
    width: 69px;
    height: 15px;
    margin-bottom: 67px;
    background-position: -372px 0;
}

.lnb__tag-title {
    width: 32px;
    height: 17px;
    background-position: -270px 0;
}

.lnb__tag01 {
    width: 86px;
    height: 15px;
    background-position: -441px 0;
}

.lnb__tag02 {
    width: 60px;
    height: 15px;
    background-position: -527px 0;
}

.lnb__tag03 {
    width: 100px;
    height: 15px;
    background-position: -587px 0;
}

.lnb__tag04 {
    width: 73px;
    height: 15px;
    background-position: -687px 0;
}

.lnb__btn {
    width: 2vw;
    height: 24vw;
    margin-top: 7vw;
    background-color: #ffcc56;
    border: 1px solid #f8bb4f;
    border-radius: 0 6px 6px 0;
}

.lnb__btn img {
    width: 1.4vw;
    height: 2vw;
}

    /* content block */
.content {
    width: 76vw;
    margin: 0 0 60px 7px;
}

.content__title {
    width: 172px;
    height: 29px;
    margin: 46px 0 22px;
    background-position: 0 0;
}

.content__btn-wrapper {
    display: flex;
}

/* tab01 block */
.content__btn-tab01,
.content__btn-tab02 {
    width: 50%;
    height: 49px;
    background-color: #f3f3f4;
    border: solid #c5cbcd;
    border-width: 2px 1px 1px 1px;
    font-size: 1.6rem;
}

.content__tab01,
.content__tab02 {
    width: 100%;
    padding: 14px 0 0 16px;
    background-color: #fbfbfb;
    border: solid #cdcdcd;
    border-width: 0 1px 1px 1px;
}

.content__tab02 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
}

    /* post block */
.post {
    display: flex;
    width: 98%;
    height: auto;
    margin-bottom: 10px;
    background-color: #fff;
    border: solid #f1f0f4;
    border-width: 0 2px 2px 0;
}

.post__banner-img {
    width: 240px;
    height: 176px;
    background: url(imgs/pc/banners/sprites-tap01_banners.png) no-repeat;
}

.post__banner-img01 {
    background-position: 0 0;
}
.post__banner-img02 {
    background-position: -240px 0;
}
.post__banner-img03 {
    background-position: -480px 0;
}
.post__banner-img04 {
    background-position: -720px 0;
}
.post__banner-img05 {
    background-position: -960px 0;
}
.post__banner-img06 {
    background-position: -1200px 0;
}
.post__banner-img07 {
    background-position: -1440x 0;
}
.post__banner-img08 {
    background-position: -1680px 0;
}

.post__box {
    margin: 30px 0 0 38px;
}

.post__title {
    display: inline-block;
    margin: 0 4px 10px 0;
    font-size: 2rem;
}

.post__blog-name {
    position: relative;
    margin-bottom: 34px;
    /* margin-bottom: 6%; */
    color: grey;
    font-size: 1.4rem;
}

.post__name-divider {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 8px 0 8px;
    background-color: grey;
}

.post__tag-box {
    width: 45vw;
}

.post__tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 4px 6px 0;
    padding: 0 10px;
    background-color: #b3b6bb;
    border-radius: 2px;
    color: white;
    font-size: 1.4rem;
}

.post__tag--green {
    background-color: #86bbb2;
}
.post__tag--purple {
    background-color: #9da3d7;
}
.post__tag--yellow {
    background-color: #ccc76c;
}
.post__tag--red {
    background-color: #a37a7b;
}

    /* post-group block */
.post-group {
    width: 94%;
    margin: auto;
    margin-bottom: 60px;
    /* background-color: red; */
}

.post-group__title {
    width: 53px;
    height: 18px;
    margin-bottom: 16px;
    background-position: -760px 0;
}

.post-group__grid {
    display: grid;
    grid-template-columns: repeat(4, 17.8vw);
    grid-template-rows: repeat(2, 166px);
    column-gap: 1px;
}

.post-group__post01 {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.post-group__post02,
.post-group__post03,
.post-group__post04,
.post-group__post05 {
    position: relative;
}

.post-group__img01 {
    width: 100%;
    height: 100%;
}

.post-group__img02,
.post-group__img03,
.post-group__img04,
.post-group__img05 {
    width: 100%;
    height: 100%;
}

.post-group__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;
    padding: 28px 140px 0 28px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    color: white;
}

.post-group__text--mini {
    height: 52px;
    padding: 12px 40px 0 14px;
    font-size: 12px;
}

    /* two-layer block */
.two-layer-group {
    display: flex;
    width: 94%;
    margin: auto;
    margin-bottom: 78px;
    font-size: 14px;
}

.two-layer-group__box {
    /* width: 450px; */
    width: 50%;
    margin-right: 10px;
}

.two-layer-group__title01,
.two-layer-group__title02 {
    margin-bottom: 16px;
}

.two-layer-group__title01 {
    width: 100px;
    height: 18px;
    background-position: -813px 0;
}

.two-layer-group__title02 {
    width: 50px;
    height: 17px;
    background-position: -913px 0;
}

.two-layer-group__cont01,
.two-layer-group__cont02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 0 16px; */
}

.two-layer-group__img {
    display: inline-block;
    width: 66px;
    height: 48px;
    margin: 0 5px;
    background: url(imgs/pc/banners/sprites-tap02_mini_banners.png) no-repeat;
}

.two-layer-group__img01 {
    background-position: 0 0;
}

.two-layer-group__img02 {
    background-position: -66px 0;
}

.two-layer-group__img03 {
    background-position: -132px 0;
}

.two-layer-group__img04 {
    background-position: -198px 0;
}

.two-layer-group__img05 {
    background-position: -264px 0;
}

.two-layer-group__img06 {
    background-position: -330px 0;
}

.two-layer-group__img07 {
    background-position: -396px 0;
}

.two-layer-group__rating-base,
.two-layer-group__rating-fill {
    display: inline-block;
    margin-right: 10px;
    background: url(imgs/pc/star_rating.png) no-repeat;
}

.two-layer-group__list-wrapper {
    background-color: #fff;
}

.two-layer-group__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid grey;
}

.two-layer-group__number {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.two-layer-group__text {
    display: inline-block;
    /* width: 250px; */
    width: 46%;
    margin-right: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-layer-group__rating-base {
    display: inline-block;
    width: 78px;
    height: 13px;
    background-position: 0 0;
}

.two-layer-group__rating-fill {
    width: 78px;
    height: 13px;
    background-position: -78px 0;
}

.two-layer-group__cont-wrapper {
    background-color: #fff;
    height: 90px;
}

.two-layer-group__arrow-img {
    width: 7px;
    height: 12px;
    margin: 0 10px;
}

.two-layer-group__btn-arrow-left,
.two-layer-group__btn-arrow-right {
    width: 7px;
    height: 12px;
    margin: 0 10px;
    background: url(imgs/pc/btn-arrow-sprites.png) no-repeat;
}

.two-layer-group__btn-arrow-left {
    background-position: -128px 0;
}

.two-layer-group__btn-arrow-right {
    background-position: -137px 0;
}

.two-layer-group__tag-title {
    margin: 0 0 8px 16px;
    padding-top: 12px;
    color: var(--color-grey);
}

.two-layer-group__text02 {
    display: -webkit-box;
    width: 114px;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

    /* banner-group block */
.banner-group {
    display: flex;
    position: relative;
    width: 100%;
    height: 256px;
    margin-bottom: 40px;
    overflow: hidden;
}

.banner-group__banner-box {
    display: flex;
    width: 61%;
    height: 256px;
    margin: auto;
}

.banner-group__banner-img {
    display: inline-block;
    width: 100%;
    margin: 0 1.7%;
    transform: translateX(-105%);
    transition: all .35s;
}

.banner-group__btn-left,
.banner-group__btn-right {
    width: 41px;
    height: 41px;
    background: url(imgs/pc/btn-arrow-sprites.png) no-repeat;
}

.banner-group__btn-left {
    background-position: 0 0;
}

.banner-group__btn-right {
    background-position: -41px 0;
}

.banner-group__btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
}

.banner-group__input-wrapper {
    display: none;
}


.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: #c3c3c3;
    border-radius: 50%;
}

/* footer block */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    color: grey;
    font-size: 1.2rem;
}

.footer__copyright {
    font-style: normal;
}

/* conditions */
.display-none {
    display: none;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.tab-active {
    background-color: #fbfbfb;
    border-top: 2px solid #57595a;
    border-bottom: 0;
}

.lnb-mobile {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    padding: 64px 0 0 54px;
}

.lnb-moblie-bg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.lnb__btn-mobile-close {
    position: absolute;
    left: 102%;
    top: 20px;
    width: 40px;
    height: 55px;
}

.lnb__btn-mobile-close div {
    position: absolute;
    width: 36px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    transform: rotate(45deg);
}

.lnb__btn-mobile-close div:last-child {
    transform: rotate(-45deg);
}

.switch-left {
    transform: translateX(-1.6%);
}

.switch-right {
    transform: translateX(-208.4%);
}

.checked {
    background-color: #434343;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .post__banner-img,
    .lnb__btn {
        display: none;
    }

    /* header block */
    .header__btn-lnb--mobile {
        display: block;
    }

    .header {
        height: 100px;
    }

    .header__logo {
        margin-top: 34px;
    }

    /* content block */
    .content {
        width: 100vw;
        margin-left: 0;
    }

    .content__title {
        margin-left: 6%;
    }

    .content__btn-tab01,
    .content__btn-tab02 {
        height: 70px;
    }

    .content__tab01,
    .content__tab02 {
        padding-left: 0;
    }

    .content__tab01,
    .content__tab02 {
        border: none;
    }

    /* post block */
    .post {
        width: 100%;
        border-right: 0;
    }

    .post__tag-box {
        width: 100%;
    }

    .post__tag {
        margin-bottom: 10px;
        padding: 0;
        background-color: transparent;
        color: grey;
    }

    .post__tag--green {
        color: #86bbb2;
    }
    .post__tag--purple {
        color: #9da3d7;
    }
    .post__tag--yellow {
        color: #ccc76c;
    }
    .post__tag--red {
        color: #a37a7b;
    }

    /* post-group block */
    .post-group {
        /* width: 580px; */
        width: 90.64vw;
    }
    
    .post-group__grid {
        /* grid-template-columns: repeat(2, 290px); */
        grid-template-columns: repeat(2, 45.32vw);
        /* grid-template-rows: repeat(4, 211px); */
        grid-template-rows: repeat(4, 33vw);
        gap: 2px;
    }

    .post-group__text {
        height: auto;
        padding: 28px 28px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .post__box {
        margin: 30px 30px 0;
    }

    /* two-layer-group block */
    .two-layer-group {
        flex-direction: column;
    }

    .two-layer-group__box {
        width: 100%;
        height: 240px;
    }

    .two-layer-group__box:first-child {
        margin-bottom: 40px;
    }

    .two-layer-group__number {
        color: #ffcc56;
    }

    .two-layer-group__text {
        margin-right: 50px;
    }

    .two-layer-group__cont01,
    .two-layer-group__cont02 {
        overflow: hidden;
    }

    .two-layer-group__img-wrapper02 {
        display: flex;
        width: 100%;
        background-color: red;
        overflow: hidden;
    }

    .two-layer-group__img02 {
        width: 100%;
    }

    .two-layer-group__cont-box {
        display: flex;
    }

    .two-layer-group__cont-wrapper {
        width: 50%;
        height: auto;
        padding-bottom: 20px;
    }

    .two-layer-group__img-wrapper {
        display: flex;
        overflow: hidden;
        width: 209px;
        height: 163px;
        background-color: red;
    }

    .two-layer-group__img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .two-layer-group__cont02 {
        width: 100%;
        overflow: hidden;
    }

    @media screen and (min-width: 320px) and (max-width: 600px) {
        html {
            font-size: 10px;
        }

            /* banner-group */
        .banner-group {
            width: 94%;
            height: auto;
            margin: auto;
            overflow: visible;
        }

        .banner-group__banner-box {
            width: auto;
            height: auto;
            overflow: hidden;
        }

        .banner-group__btn-box {
            display: flex;
            justify-content: space-around;
            top: 110%;
            width: 50%;
        }

        .banner-group__input-wrapper {
            display: block;
        }
        
        .banner-group__btn-left,
        .banner-group__btn-right {
            width: 21px;
            height: 21px;
        }

        .banner-group__btn-left {
            background-position: -83px 0;
        }

        .banner-group__btn-right {
            background-position: -104px 0;
        }
    }
}